<a href="https://colab.research.google.com/github/ryhntpl/data_science_ml_libraries/blob/main/Pandas_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Bir DataFrame'in satır ve sütun sayısını nasıl bulabilirsiniz?

In [ ]:
import seaborn as sns

# 'tips' veri kümesini yükle
tips = sns.load_dataset('tips')

print (tips)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
num_rows=tips.shape[0]
num_cols=tips.shape[1]

print('Number of rows:', num_rows)
print('Number of columns:', num_cols)

Number of rows: 244
Number of columns: 7

In [ ]:
# 1.Çözüm

In [ ]:
import pandas as pd


data = {'name': ['Rey', 'Mer', 'Ece'], 'age': [25, 23, 24], 'city': ['Berlin', 'Sydney', 'Bali']}
df = pd.DataFrame(data)


num_rows = df.shape[0]
num_cols = df.shape[1]

print('Number of rows:', num_rows)
print('Number of columns:', num_cols)

Number of rows: 3
Number of columns: 3

In [ ]:
# 2. Çözüm

In [ ]:
import pandas as pd


data = {'name': ['Lil', 'Alya', 'Rey'], 'age': [25, 30, 35], 'city': ['Bali', 'Köln', 'Talinn']}
df = pd.DataFrame(data)

num_rows = len(df)
num_cols = len(df.columns)

print('Number of rows:', num_rows)
print('Number of columns:', num_cols)

Number of rows: 3
Number of columns: 3

In [ ]:
## Bir DataFrame'deki belirli bir sütunu nasıl seçersiniz?(tip column seciniz)

In [ ]:
import seaborn as sns

# 'tips' veri kümesini yükle
tips = sns.load_dataset('tips')
tips

print(tips.shape)
print(tips["tip"])

(244, 7)
0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [ ]:
import pandas as pd

df = pd.read_csv('tips.csv')
df
print(df)
print(df.shape)
print(data_frame["tip"])

In [ ]:
## Bir DataFrame'deki belirli bir satırı nasıl seçersiniz?(15.satir)

In [ ]:
import seaborn as sns

# 'tips' veri kümesini yükle
tips = sns.load_dataset('tips')
tips

tips.loc[14]

total_bill     14.83
tip             3.02
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 14, dtype: object

In [ ]:
import seaborn as sns

# 'tips' veri kümesini yükle
tips = sns.load_dataset('tips')
tips

tips.loc[14, "tip"]

3.02

In [ ]:
## Bir DataFrame'deki belirli bir satırın belirli bir sütunundaki değeri nasıl seçersiniz?
(72.satir, columns=tip)

#Burada, loc methodu, DataFrame'deki 72. satırın (etiket olarak 71 olan) "tip" sütununu seçer ve bir skaler değer olarak döndürür.

In [ ]:
import seaborn as sns

# 'tips' veri kümesini yükle
tips = sns.load_dataset('tips')
tips
tips.loc[71, "tip"]

3.0

In [ ]:
## Bir DataFrame'deki tüm sütunların adlarını nasıl alırsınız?(columns)

In [ ]:
df.columns

#Eğer sütun adlarını bir liste olarak almak isterseniz, Index nesnesini listeye dönüştürebilirsiniz:

list(df.columns)

In [ ]:
#Bir DataFrame'deki tüm sütunların veri tiplerini nasıl alırsınız?(dtypes)

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4.0, 5.0, 6.0], 'C': ['a', 'b', 'c']})
print(df.dtypes)

A      int64
B    float64
C     object
dtype: object

In [ ]:
import seaborn as sns

# 'tips' veri kümesini yükle
tips = sns.load_dataset('tips')
tips
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [ ]:
## Bir DataFrame'deki tüm satırların bir sütunundaki tekil değerleri nasıl
alırsınız?(unique() methodunu kullaniniz)

In [ ]:
import pandas as pd

# DataFrame'i oluştur
df = pd.DataFrame({'A': [1, 2, 2, 3, 3], 'B': [4, 5, 6, 7, 8], 'C': ['a', 'b', 'a', 'c', 'c']})

# 'C' sütunundaki tekil değerleri yazdır
print(df['C'].unique())

['a' 'b' 'c']

In [ ]:
import seaborn as sns

# 'tips' veri kümesini yükle
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
print(tips['total_bill'].unique())

[16.99 10.34 21.01 23.68 24.59 25.29  8.77 26.88 15.04 14.78 10.27 35.26
 15.42 18.43 14.83 21.58 10.33 16.29 16.97 20.65 17.92 20.29 15.77 39.42
 19.82 17.81 13.37 12.69 21.7  19.65  9.55 18.35 15.06 20.69 17.78 24.06
 16.31 16.93 18.69 31.27 16.04 17.46 13.94  9.68 30.4  18.29 22.23 32.4
 28.55 18.04 12.54 10.29 34.81  9.94 25.56 19.49 38.01 26.41 11.24 48.27
 13.81 11.02 17.59 20.08 16.45  3.07 20.23 15.01 12.02 17.07 26.86 25.28
 14.73 10.51 27.2  22.76 17.29 19.44 16.66 10.07 32.68 15.98 34.83 13.03
 18.28 24.71 21.16 28.97 22.49  5.75 16.32 22.75 40.17 27.28 12.03 12.46
 11.35 15.38 44.3  22.42 20.92 15.36 20.49 25.21 18.24 14.31 14.    7.25
 38.07 23.95 25.71 17.31 29.93 10.65 12.43 24.08 11.69 13.42 14.26 15.95
 12.48 29.8   8.52 14.52 11.38 22.82 19.08 20.27 11.17 12.26 18.26  8.51
 14.15 16.   13.16 17.47 34.3  41.19 27.05 16.43  8.35 18.64 11.87  9.78
  7.51 14.07 13.13 17.26 24.55 19.77 29.85 48.17 25.   13.39 16.49 21.5
 12.66 16.21 17.51 24.52 20.76 31.71 10.59 10.63 50.81 15.81 31.85 16.82
 32.9  17.89 14.48  9.6  34.63 34.65 23.33 45.35 23.17 40.55 20.9  30.46
 18.15 23.1  15.69 19.81 28.44 15.48 16.58  7.56 43.11 13.   13.51 18.71
 12.74 16.4  20.53 16.47 26.59 38.73 24.27 12.76 30.06 25.89 48.33 13.27
 28.17 12.9  28.15 11.59  7.74 30.14 12.16  8.58 16.27 10.09 20.45 13.28
 22.12 24.01 11.61 10.77 15.53 12.6  32.83 35.83 29.03 27.18 22.67 17.82
 18.78]

In [ ]:
print(tips['size'].unique())

[2 3 4 1 6 5]

In [ ]:
## Bir DataFrame'deki belirli bir sütundaki tüm değerlerin ortalamasını nasıl
hesaplayabilirsiniz?

In [ ]:
import pandas as pd

# DataFrame'i oluştur
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4.0, 5.0, 6.0], 'C': [7, 8, 9]})

# 'B' sütunundaki değerlerin ortalamasını yazdır
print(df['B'].mean())

5.0

5.0

In [ ]:
#Bir DataFrame'deki belirli bir sütundaki tüm değerlerin standart sapmasını nasıl
hesaplayabilirsiniz?

In [ ]:
import pandas as pd

# DataFrame'i oluştur
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4.0, 5.0, 6.0], 'C': [7, 8, 9]})

# 'C' sütunundaki değerlerin standart sapmasını yazdır
print(df['C'].std())

1.0

1.0

In [ ]:
## Bir DataFrame'deki belirli bir sütunun en büyük değerini nasıl
bulabilirsiniz?(total_bill icin yapiniz)

In [ ]:
import pandas as pd

# tips veri kümesini yükle
tips = pd.read_csv('tips.csv')

# 'total_bill' sütunundaki en büyük değeri yazdır
print(tips['total_bill'].max())

In [ ]:
import seaborn as sns

# 'tips' veri kümesini yükle
tips = sns.load_dataset('tips')

# 'total_bill' sütunundaki en büyük değeri yazdır
print(tips['total_bill'].max())

50.81

In [ ]:
## Bir DataFrame'deki belirli bir sütunun en küçük değerini nasıl bulabilirsiniz?(tip
sutunu icin yapiniz)

In [ ]:
import pandas as pd

# tips veri kümesini yükle
tips = pd.read_csv('tips.csv')

# 'tip' sütunundaki en küçük değeri yazdır
print(tips['tip'].min())

In [ ]:
#Eğer tips.csv dosyası mevcut değilse, aşağıdaki kod örneği ile 'seaborn' kütüphanesinde yer alan 'tips' veri kümesi kullanılabilir:

import seaborn as sns

# 'tips' veri kümesini yükle
tips = sns.load_dataset('tips')

# 'tip' sütunundaki en küçük değeri yazdır
print(tips['tip'].min())

1.0

In [ ]:
## Bir DataFrame'deki belirli bir sütundaki değerlerin sayısını nasıl
hesaplayabilirsiniz?(count method)

In [ ]:
import pandas as pd

# tips veri kümesini yükle
tips = pd.read_csv('tips.csv')

# 'total_bill' sütunundaki değerlerin sayısını yazdır
print(tips['total_bill'].count())

In [ ]:
#Eğer tips.csv dosyası mevcut değilse, aşağıdaki kod örneği ile 'seaborn' kütüphanesinde yer alan 'tips' veri kümesi kullanılabilir:

In [ ]:
import seaborn as sns

# 'tips' veri kümesini yükle
tips = sns.load_dataset('tips')

# 'total_bill' sütunundaki değerlerin sayısını yazdır
print(tips['total_bill'].count())

244

In [ ]:
## Bir DataFrame'deki belirli bir sütunun medyanını nasıl hesaplayabilirsiniz?(median)

In [ ]:
import pandas as pd

# tips veri kümesini yükle
tips = pd.read_csv('tips.csv')

# 'tip' sütununun medyanını yazdır
print(tips['tip'].median())

In [ ]:
#Eğer tips.csv dosyası mevcut değilse, aşağıdaki kod örneği ile 'seaborn' kütüphanesinde yer alan 'tips' veri kümesi kullanılabilir:

import seaborn as sns

# 'tips' veri kümesini yükle
tips = sns.load_dataset('tips')

# 'tip' sütununun medyanını yazdır
print(tips['tip'].median())

2.9

In [ ]:
## Bir DataFrame'deki belirli bir sütundaki en sık tekrar eden değeri nasıl
bulabilirsiniz?(mode kullaniniz)

In [ ]:
import pandas as pd

# tips veri kümesini yükle
tips = pd.read_csv('tips.csv')

# 'sex' sütunundaki en sık tekrar eden değeri yazdır
print(tips['sex'].mode()[0])

#Eğer tips.csv dosyası mevcut değilse, aşağıdaki kod örneği ile 'seaborn' kütüphanesinde yer alan 'tips' veri kümesi kullanılabilir:

In [ ]:
import seaborn as sns

# 'tips' veri kümesini yükle
tips = sns.load_dataset('tips')

# 'sex' sütunundaki en sık tekrar eden değeri yazdır
print(tips['sex'].mode()[0])

Male

In [ ]:
## Bir DataFrame'deki belirli bir sütunu küçükten büyüğe nasıl sıralayabilirsiniz?

In [ ]:
import pandas as pd

# tips veri kümesini yükle
tips = pd.read_csv('tips.csv')

# 'total_bill' sütununu küçükten büyüğe sırala
tips_sorted = tips.sort_values(by='total_bill')

# sıralanmış verileri yazdır
print(tips_sorted['total_bill'])

## Bir DataFrame'deki belirli bir sütunu büyükten küçüğe nasıl sıralayabilirsiniz?

# 'total_bill' sütununu büyükten küçüğe sırala
tips_sorted = tips.sort_values(by='total_bill', ascending=False)

In [ ]:
## Bir DataFrame'deki belirli bir sütunda belirli bir koşulu sağlayan değerleri nasıl
seçebilirsiniz?(tip>2 icin sorgulayin)

In [ ]:
import pandas as pd

# tips veri kümesini yükle
tips = pd.read_csv('tips.csv')

# tip sütununda 2'den büyük olan değerleri seç
mask = tips['tip'] > 2
selected_rows = tips[mask]

# seçilmiş satırları yazdır
print(selected_rows)

#Teşekkürler :)